[submodule "ghost/core/content/themes/cereal"]
	path = ghost/core/content/themes/cereal
	url = git@github.com:Lknechtli/dawn-serial
[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = ../../TryGhost/Casper.git
